body {
	height: 100%;
	background-repeat: no-repeat;
	background-color: #010101;
	background-size: 125%;
	background-position: -189px 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}
